{% extends 'projectNavbar.html' %} {% load static %}
<html>
  <head>
    <title>about page</title>
    
  </head>
  <body>
    {% block body %}
    <div class="containerabout mt-5 text-center">
       <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/78/KL_University_logo.svg/700px-KL_University_logo.svg.png"/>
    </div>
    <div class="akash mt-5">
        <h1>Student Grivience Management System</h1>
        <p>The Student Grievances Management System is a comprehensive platform designed to address and resolve issues raised by students within an educational institution. This system provides a streamlined and transparent process for students to submit their grievances, ranging from academic concerns to interpersonal conflicts. Through an easy-to-use interface, students can log complaints, attach relevant documents, and track the status of their grievances in real-time. The system facilitates efficient communication between students, faculty, and administration, ensuring a prompt and fair resolution to enhance the overall student experience and maintain a positive learning environment.</p>
    </div>
    <div>
      <br />
      <h1></h1>
    </div>

    {% endblock %}
  </body>
</html>
