<!DOCTYPE html>
<html>
<head>
<title>Navbar</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color:rgb(122, 208, 182);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/about"><b>Student Grivence System</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Student Login</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/adminpage">Admin Login </a>
              </li>
            
              
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
     {%block body%}

     {% endblock %}

     <footer id="sticky-footer" class="flex-shrink-0 py-2">
      <div class="container text-center">
        <small>copyright Akash Eedara , KL university, All rights are reserved to the @akash </small>
      </div>
     
     <style>
      #sticky-footer{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(122, 208, 182);
        color: white;
        padding: 20px;
        font: 20px;
        
      }
     </style>
     
</body>
</html>